.profile-container{
  width: 100%;
  text-align: center;
}

.editform{
  background: #f3f3f3;
  padding: 20px;
}

.login-button{
    display: flex;
    
}

.feed{
  width: auto;
  text-align: center;
}

.image{
  height: 160px;
  width: 120px;
  border: 1px solid #000;
}

.captioncard{
  margin-left: 0%;
  width: 380px;
}

.card{
  background: #f3f3f3;
  width: 0px;
  padding: 20px;
  align-items: center;
  height: auto;
  width: 500px;
  margin-left: 400px;
  display: flex;
}

.post-card{
  height:auto;
  width:500px;
  margin-left: 400px;
  margin-top: 10px;
  background: #f3f3f3;
   padding: 20px;
   align-items: center;
}

 /* ------- login -------- */

 .login{
   width: 100%;
   height: auto;
   text-align: center;
  margin-top: 120px;
 }

 .loginbox{
   background: #f3f3f3;
   padding: 40px;
 }

 /* ------------- Sign Up --------------   */

 .signup{
  width: 100%;
  height: auto;
  text-align: center;
 margin-top: 100px;
 }

 .signupbox{
  background: #f3f3f3;
   padding: 40px;
 }


  /* ------------- Sign Up --------------   */
.feed1{
  display: block;
 
}
